@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Source+Sans+Pro:wght@600&display=swap");

:root {
  --background: #212121;
}

body {
  margin: 0;
}

.team-heading {
  padding-top: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  background-color: #212121;
  text-align: center;
}

.container-card {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 16px;
  font-family: "Fanwood Text", serif;
}

.profile-wrapper {
  margin: 0 15px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 450px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.profile .profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--background);
  transition: 0.5s;
}

.profile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile:hover img {
  opacity: 0.4;
  transition: 0.5s;
}

.profile:hover .profile-image {
  transform: translateY(-104px);
  transition: all 0.9s;
}

.profile-name {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 106px;
  padding: 12px 14px;
  z-index: 1;
  color: #333;
  background-color: #fff;
  text-align: left;
}

.profile:hover .profile-name {
  background-color: #fff;
}

.profile-name h2 {
  margin-bottom: 8px;
}

.Us{
  background-color: var(--background);
}
/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
  .container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .profile-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  .profile {
    margin-left: 60px;
    margin-right: 60px;
    width: 80%;
  }
  
  .Us{
    padding-bottom: 30px;
  }
  .team-heading{
    text-align: center;
  }
}

